@import '~bootstrap/scss/bootstrap';

div {
  color: blue;
}

h1 {
  font-size: 60px;
  text-align: center;
}

div {
  text-align: center;
}

p {
  text-align: center;
  font-size: 25px;
  color: red;
}

.container {
  width: 400px;
  height: 400px;
  margin-top: 15px;
  text-align: center;
}

.row {
  height: 400px;
  width: 400px;
  border-image-outset: black;
  font-size: 50px;
  text-align: center;
}

.col {
  height: 100px;
  width: 100px;
  background-color: black
}

.box {
  border: 2px solid black;
  border-radius: 20px white;
  background-color: white;
  font-size: 50px;
}
